:root {
  --color-primary: #1633ff;
  --font-size-primary: 1.4rem;
  --font-size-header: 2.4rem;
  --font-size-small-header: 1.6rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans";
}

body {
  background-color: #f2f4f9;
}
